nav {
  font-size: x-large;
  background-color: rgb(0, 0, 0);
  display: flex;
}

nav a {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

#home-nav {
  margin-left: 600px;
}

#city-list-nav {
  margin-left: 265px;
}

#random-city-nav {
  margin-left: 245px;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home h1 {
  font-size: 400%;
}

#city-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#add-city-btn {
  margin-top: 50px;
  margin-bottom: 50px;
}

#search-city, #sort-cities {
  margin-left: 10px;
  margin-right: 100px;
}

#sort-cities-label {
  margin-left: 100px;
}

#city-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

#city-item {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

#city-item a {
  display: flex;
  gap: 50px;
  margin-right: 100px;
  justify-content: left;
}